.card {
    padding: 20px;
    background-color: #ea99ff;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 1px 15px #000;
    transition: .3s;
    margin: 30px;
}

.card:hover {
    box-shadow: 0 1px 5px #99e;
}